@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/product_sans.woff') format('woff'),
    url('../fonts/product_sans.ttf') format('truetype');
}

h1, p {
  font-family: 'Product Sans', sans-serif;
}

.hero-text {
  font-size: 8em;
}

.hero-image {
  width: 90%;
  height: auto;
}