@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/product_sans.woff') format('woff'),
    url('../fonts/product_sans.ttf') format('truetype');
}

i {
  color: black;
}

h1,
p {
  font-family: 'Product Sans', sans-serif;
}

.hero-header {
  font-size: 4rem;
}

.hero-subtitle {
  font-size: 1.2rem;
}

/* 30% Increase */
@media (min-width: 1440px) {
  .hero-header {
    font-size: 5.2rem;
  }
  
  .hero-subtitle {
    font-size: 1.56rem;
  }
}

/* 60% increase */
@media (min-width: 2560px) {
  .hero-header {
    font-size: 6.4rem;
  }
  
  .hero-subtitle {
    font-size: 1.92rem;
  }
}